.backg {
  background-image: url("/images/About/About.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position: center;
  min-height: 980px;
  display: flex;
  flex-direction: column;
}

.title {
  color: white;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 40px;
}

.buttonContainer {
  margin-top: 150px;
  max-width: 55rem;
}

.titlebox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding-bottom: 20px;
}

.noMask {
  mask: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
}
