/* root styles */
.root {
  background-image: url("/images/Homepage/ourservices1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 800px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  z-index: -1;
  margin-top: -200px;
}

/* container styles */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  max-width: 80rem;
}

/* quoteContainer styles */
.quoteContainer {
  margin-left: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* contentContainer styles */
.contentContainer {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

/* contentsubContainer styles */
.contentsubContainer {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* title styles */
.title {
  color: #c4f0ab;
  font-size: 2rem;
  padding-bottom: 2rem;
  font-weight: bold;
  margin-top: 40px;
  text-align: left;
}

/* description styles */
.description {
  color: white;
  font-size: 1.2rem;
  line-height: 1.2;
  padding-bottom: 1.5rem;
  text-align: left;
}

/* button styles */
.buttonStyle {
  background-color: #c4f0ab;
  color: #153240;
  padding: 10px;
  width: 50%;
  font-weight: bold;
  border-radius: 8px;
}

/* button hover styles */
.buttonStyle:hover {
  background-color: white;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .quoteContainer {
    margin-left: 0;
  }

  .contentContainer {
    width: 100%;
  }

  .title {
    padding-top: 16rem;
    font-size: 1.5rem;
  }

  .description {
    font-size: 1rem;
  }
}
