/* root styles */
.root {
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* container styles */
.container {
  display: flex;
  flex-direction: column;
  max-width: 80rem;
  padding: 20px 0;
  margin: auto;
}

@media (max-width: 1440px) {
  .container {
    padding: 40px 0px;
  }
}

/* title styles */
.title {
  padding: 20px;
  font-weight: 700;
}

/* subTitle styles */
.subTitle {
  padding: 20px;
  width: 50%;
}

/* modelsContainer styles */
.modelsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* model styles */
.model {
  display: flex;
  flex-direction: column;
  border-left: 1px dotted black;
  flex-basis: 22%;
}
@media screen and (max-width: 768px) {
  .model {
    flex-basis: 90% !important;
    margin-bottom: 20px;
  }

  .subTitle {
    width: 90%;
  }
}
